{% extends 'messanger/base.html' %}
{% load static %}

{% block title %}
    <title>Postman | Forgot Password</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'messanger/login.css' %}">
{% endblock styles %}


{% block content %}
    <div id="login">
        <h1>Forgot Password</h1>
        <form action="{% url 'forgot-password' %}" method="post">
            {% csrf_token %}
            <div class="form_field">
                <label for="user_id">Enter your User ID</label>
                <input type="text" title="Enter your user ID" name="user_id" id="user_id" placeholder="User ID" required autofocus=True>
                <p class="help_text">You were asked to save this on account creation.</p>
            </div>
            
            <div class="form_field" id="q_field" style="display: none;">
                <label for="secret_question"></label>
                <input type="text" title="Answer the question" name="q_ans" id="secret_question" placeholder="Give your answer" required>
            </div>
            <button type="submit" id="login_btn" disabled>Proceed</button>
        </form>
    </div>

    {% if messages %}
        <!-- notifications -->
        <div class="notification_icon">
            <img src="{% static 'images/bell-ring.svg' %}" alt="">
            {% if messages %}
                <span>{{ messages|length }}</span>
            {% endif %}
        </div>
        <div class="notifications">
            <img id="sub_icon" src="{% static 'images/bell.svg' %}" alt="" style="width: 30px; height: 30px;">
            {% for message in messages %}
                {% if 'info' in message.tags %}
                    <div class="toast info">
                        <img src="{% static 'images/info2.svg' %}" alt="" style="width: 20px; height: 20px;">
                        <p>{{ message }}</p>
                    </div>
                {% elif  'success' in message.tags %}
                    <div class="toast success">
                        <img src="{% static 'images/tick.svg' %}" alt="" style="width: 20px; height: 20px;">
                        <p>{{ message }}</p>
                    </div>
                {% elif  'error' in message.tags %}
                    <div class="toast error">
                        <img src="{% static 'images/cancel.svg' %}" alt="" style="width: 20px; height: 20px;">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}

{% block script %}
<script src="{% static 'messanger/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript">
    window.onload = () => {
        // opens notifications shade
        if (document.querySelector('.notifications')){
            document.querySelector('.notification_icon').querySelector('img').classList.add('blink_img');
            document.querySelector('.notification_icon').classList.add('blink_icon');
            document.querySelector('.notification_icon').addEventListener('click', () => {
                document.querySelector('.notification_icon').querySelector('img').classList.remove('blink_img');
                document.querySelector('.notification_icon').classList.remove('blink_icon');
                document.querySelector('.notifications').classList.toggle('open_shade');
            });
        }

        var user_id = document.querySelector('#user_id');
        var question = document.querySelector('#q_field');
        var proceed_btn = document.querySelector('#login_btn');
        question.style.display = 'none';
        proceed_btn.disabled = true;

        user_id.addEventListener('input', (e) => {
            e.stopImmediatePropagation();
            $.ajax({
                url: '{% url "forgot-password" %}',
                method: 'POST',
                data: {'user_id': user_id.value},
                dataType: 'json',
                cache: false,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(response){
                    if (response['status'] == 'success'){
                        user_id.style.borderColor = '';
                        user_id.valid == true;
                        user_id.style.pointerEvents = 'none';
                        question.querySelector('label').innerText = response['question'];
                        question.style.display = 'block';
                        proceed_btn.disabled = false;
                    }
                    if(response['status'] == 'error'){
                        user_id.style.setProperty('border-color', 'red', 'important');
                        user_id.valid == false;
                        user_id.style.pointerEvents = 'auto';
                        question.querySelector('label').innerText = '';
                        question.style.display = 'none';
                        proceed_btn.disabled = true;
                    };

                }
            });
        });
    };

    window.onclick = function(event) {

        // close notification shade on outside click
        if(document.querySelector('.notifications') && !document.querySelector('.notification_icon').contains(event.target) && !document.querySelector('.notifications').contains(event.target) && document.querySelector('.notifications').classList.contains('open_shade')){
            document.querySelector('.notifications').classList.remove('open_shade')
        }
    }
</script>
{% endblock script %}