{% extends 'messanger/base.html' %}
{% load static %}

{% block title %}
    <title>Postman | Password Reset for {{ user.username | title }}</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'messanger/login.css' %}">
{% endblock styles %}


{% block content %}
    <div id="login">
        <h1>Reset Password for {{ user.username }}</h1>
        <form action="{% url 'reset-password' user.id %}" method="post">
            {% csrf_token %}
            <div class="form_field">
                <label for="password">New Password</label>
                <input type="password" title="Enter a new password" minlength="6" name="password" id="password" placeholder="New password" required>
                <p class="help_text">Enter a new password</p>
            </div>
            <div class="form_field">
                <label for="password2">Confirm Password</label>
                <input type="password" title="Enter the password you chose again" minlength="6" name="password2" id="password2" placeholder="Confirm password" required>
                <p class="help_text">Enter password again</p>
            </div>
            <button type="submit" id="login_btn" >Reset Password</button>
        </form>
    </div>

    {% if messages %}
        <!-- notifications -->
        <div class="notification_icon">
            <img src="{% static 'images/bell-ring.svg' %}" alt="">
            {% if messages %}
                <span>{{ messages|length }}</span>
            {% endif %}
        </div>
        <div class="notifications">
            <img id="sub_icon" src="{% static 'images/bell.svg' %}" alt="" style="width: 30px; height: 30px;">
            {% for message in messages %}
                {% if 'info' in message.tags %}
                    <div class="toast info">
                        <img src="{% static 'images/info2.svg' %}" alt="" style="width: 20px; height: 20px;">
                        <p>{{ message }}</p>
                    </div>
                {% elif  'success' in message.tags %}
                    <div class="toast success">
                        <img src="{% static 'images/tick.svg' %}" alt="" style="width: 20px; height: 20px;">
                        <p>{{ message }}</p>
                    </div>
                {% elif  'error' in message.tags %}
                    <div class="toast error">
                        <img src="{% static 'images/cancel.svg' %}" alt="" style="width: 20px; height: 20px;">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}

{% block script %}
<script type="text/javascript">
    window.onload = () => {
        // opens notifications shade
        if (document.querySelector('.notifications')){
            document.querySelector('.notification_icon').querySelector('img').classList.add('blink_img');
            document.querySelector('.notification_icon').classList.add('blink_icon');
            document.querySelector('.notification_icon').addEventListener('click', () => {
                document.querySelector('.notification_icon').querySelector('img').classList.remove('blink_img');
                document.querySelector('.notification_icon').classList.remove('blink_icon');
                document.querySelector('.notifications').classList.toggle('open_shade');
            })
        }
        var form = document.querySelector('#login');
        var password = document.querySelector('#password');
        var password2 = document.querySelector('#password2');
        var login_btn = document.querySelector('#login_btn');

        // check if passwords match
        password2.addEventListener('keyup', () => {
            if (password.value != password2.value){
                password.valid= false;
                password2.valid = false;
                password2.setCustomValidity('Passwords do not match');
                login_btn.disabled = true;
            }else{
                password.valid= true;
                password2.valid = true;
                password2.setCustomValidity('');
                login_btn.disabled = false;
            }
        })
    }

    window.onclick = function(event) {

        // close notification shade on outside click
        if(document.querySelector('.notifications') && !document.querySelector('.notification_icon').contains(event.target) && !document.querySelector('.notifications').contains(event.target) && document.querySelector('.notifications').classList.contains('open_shade')){
            document.querySelector('.notifications').classList.remove('open_shade')
        }
    }
</script>
{% endblock script %}