{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}

    <link rel="stylesheet" type='text/css' href="{% static 'messanger/main.css' %}">
    {% block styles %}
    {% endblock styles %}
    
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="{% url 'home' %}">Postman</a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="{% url 'messages' %}">SMS</a></li>
                    <li><a href="{% url 'emails' %}">Mail</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'contacts' %}">Contacts</a></li>
                        <li><a href="{% url 'settings' %}">Settings</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Sign up</a></li>
                    {% endif %}
                </ul>
                <div class="dropdown_menu">
                    <div class="menu_icon">
                        <div class="round"></div>
                        <div class="round"></div>
                        <div class="round"></div>
                    </div>
                    <ul class="menu">
                        <li><a href="{% url 'messages' %}">SMS</a></li>
                        <li><a href="{% url 'emails' %}">Mail</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'contacts' %}">Contacts</a></li>
                            {% if request.user.purchases %}
                                <li><a href="{% url 'purchase-history' request.user.id %}">Purchases</a></li>
                            {% endif %}
                            <li><a href="{% url 'settings' %}">Settings</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% if request.user.is_authenticated and not request.user.accepted_cookies and not request.user.rejected_cookies %}
        <div class="cookie_msg">
            <p>
                We use cookies to make interactions with our website and service easy and meaningful.
                For more information about the cookies we use or to find out more about our privacy policy and cookies,
                <a href="{% url 'privacy' %}">click here</a>.
            </p>
            <div class="response_btns">
                <button id="accept">Accept</button>
                <button id="decline">Decline</button>
            </div>
        </div>
    {% endif %}
    
    <footer>
        <div class="container">
            <div class="footer_links">
                <a href="">Docs</a>
                <a href="{% url 'privacy' %}">Privacy</a>
                {% if request.user.is_authenticated %}
                    <a href="mailto:sendviapostman@gmail.com">Support</a>
                {% endif %}
            </div>
            {% now "Y" as current_year %}
            <p>
                {% block translate %}
                Postman &copy; {{ current_year }}
                {% endblock translate %}
            </p>
        </div>
    </footer>
</body>
<script src="{% static 'messanger/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript">
    // shows and hides header on scroll
    var oldScrollPosition = 0;
    window.onscroll = (e) => {
        var scrollPosition = document.documentElement.scrollTop;
        if (scrollPosition >= window.innerHeight * 0.2 && scrollPosition > oldScrollPosition) {
            document.querySelector('header').classList.add('hide');
            oldScrollPosition = scrollPosition;       
        }
        else{
            document.querySelector('header').classList.remove('hide');
            oldScrollPosition = scrollPosition;
        };

    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
            }
        }
        return cookieValue;
    };

</script>
{% block script %}
{% endblock script%}
</html>