{% extends 'messanger/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    <title>Postman | {{ request.user | title }}'s Mails</title>
{% endblock title %}

<!-- <link rel="stylesheet" href="{% static 'messanger/main.css' %}"> -->
<!-- <link rel="stylesheet" href="../../static/messanger/main.css"> -->

{% block styles %}
    <link rel="stylesheet" href="{% static 'messanger/message.css' %}">
    <link rel="stylesheet" href="{% static 'messanger/email.css' %}">
{% endblock styles %}


    {% block content %}
        <!-- loading animation -->
        <div class="anim_container">
            <span>Postman</span>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            <p>Loading mails...</p>
        </div>

        <div class="be_container">

            <div class="page_lead">
                <div class="head">
                    <h1>Emails</h1>
                    <p>Mails you sent</p>
                </div>
                <button class="create_btn">
                    <p>New Mail</p>
                    <img src="{% static 'images/email.svg' %}" alt="">
                </button>
            </div>
            <div class="border_btm"></div>
            
            <div class="no_messages">
                <p>No mails yet</p>
                <img src="{% static 'images/folder.svg' %}" alt="">
            </div>

            <div class="messages">
                {% if emails %} 
                    <div class="select_all">
                        <div>
                            <input id="select_all" type="checkbox" value="all">
                            <label for="select_all">Select all</label>
                        </div>
                        <p>Delete</p>
                    </div>
                    {% for email in emails %}
                        <div class="message">
                            {% if email.is_sent %}
                            <div class="message_summary">
                            {% else %}
                            <div class="message_summary failed_message">
                            {% endif %}
                                <input id="{{ email.id }}" type="checkbox" value="{{ email.id }}" >
                                <div>
                                    {% if email.is_sent %}
                                        {% if email.sent_to.all|length == 1 %}
                                            {% for email_address in email.sent_to.all %}
                                                <h3>Sent to {{ email_address.address | truncatechars:20 }}</h3>
                                            {% endfor %}
                                        {% elif email.sent_to.all|length  > 1 and email.sent_to.all|length < email.sent_by.added_email_addresses.all|length %}
                                            <h3>Sent to {{ email.sent_to.all | length }} address{{ email.sent_to.all | length | pluralize:"s,es" }}</h3>
                                        {% elif email.sent_to.all|length == email.sent_by.added_email_addresses.all|length %}
                                            <h3>Sent to all addresses</h3>
                                        {%  endif %}
                                    {% else %}
                                        {% if email.send_to.all|length == 1 %}
                                            {% for email_address in email.send_to.all %}
                                                <h3>Failed to send to {{ email_address.address | truncatechars:20 }}</h3>
                                            {% endfor %}
                                        {% elif email.send_to.all|length  > 1 and email.send_to.all|length < email.sent_by.added_email_addresses.all|length %}
                                            <h3>Failed to send to {{ email.send_to.all | length }} address{{ email.send_to.all | length | pluralize:"s,es" }}</h3>
                                        {% elif email.send_to.all|length == email.sent_by.added_email_addresses.all|length %}
                                            <h3>Failed to send to all addresses</h3>
                                        {%  endif %}
                                    {% endif %}
                                    <p>{{ email.date_sent| date:'M d y' }}</p>
                                </div>
                                {% if email.subject %}
                                    <p class="succinct">{{ email.subject | truncatewords:15 }}</p>
                                {% endif %}
                            </div>
                            <div class="message_content">
                                <div class="mail_header">
                                    <h4>{{ email.subject | urlize | telify }}</h4>
                                    {% if email.bcc %}
                                        <span>Bcc: {{ email.bcc }}</span>
                                    {% endif %}
                                    {% if email.cc %}
                                        <span>Cc: {{ email.cc }}</span>
                                    {% endif %}
                                </div>
                                {% if not email.is_html %}
                                    <p>{{ email.body | linebreaks | urlize | telify }}</p>
                                {% else %}
                                    <p>{{ email.body | linebreaks }}</p>
                                {% endif %}
                                {% if email.attachments.all|length > 0 %}
                                    <div class="attachments">
                                        <h4>Attachments</h4>
                                        <ul>
                                            {% for attachment in email.attachments.all %}
                                            <a href="{% url 'download' %}?pk={{email.id}}&&file_id={{attachment.id}}"><li>{{ attachment }}</li></a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <p id="minor">
                                {% if email.sent_to.all|length  > 1%}
                                    <a>See recipients</a> - 
                                {% endif %}
                                {{ email.date_sent| time:'G:i' }}</p>
                                <div class="retry_del">
                                    {% if not email.is_sent %}
                                        <span><a href="{% url 'retry' %}?type=email&&pk={{email.id}}">retry</a></span>
                                    {% endif %}
                                    <span id="del_btn">delete</span>
                                </div>
                            </div>
                            {% if email.sent_to.all|length  > 1%}
                                <div class="recipients">
                                    <div>
                                        <h3>Sent to</h3>
                                        <img src="{% static 'images/previous.svg' %}" alt="">
                                    </div>
                                    <ul>
                                        {% for recipient in email.sent_to.all %}
                                            <li>{{ recipient }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <button class="create_btn_hover">
                <p>New Mail</p>
                <img src="{% static 'images/email.svg' %}" alt="">
            </button>

        </div>

        <div class="contact_popup">
            <div class="pill"></div>
            <div class="popup_head">
                <p>Send to</p>
                <img src="{% static 'images/cancel.svg' %}" alt="">
            </div>
            <div class="popup_body">

                <form id="add_form" method="post" enctype="multipart/form-data" class="add_contact">
                    <div>
                        <img src="{% static 'images/add-user.svg' %}" alt="">
                        <label for="address">Add email addresses</label>
                    </div>
                    <input type="text" name="email_address" id="address" pattern="^(?:[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,6}(, ?)?)+$" placeholder="tersoelam@gmail.com">
                    <label for="address_file">Select file (*.txt, *.csv)[max-1MB]</label>
                    <div class="file_name">
                        <p>No file selected</p>
                    </div>
                    <input type="file" name="file" id="address_file" accept=".txt, .csv">
                    
                    <div class="help">
                        <div>
                            <img src="{% static 'images/info2.svg' %}" alt="">
                            <p>Info</p>
                        </div>
                        <p class="text">
                            Do not enter a no-reply email address! If there are multiple addresses, separate them with a comma.
                            You can upload a file containing email addresses you want to send to. It is advisable that the files contain only text (email addresses) and 
                            that they're separated with commas, newlines or any of these [':', ';', '-'] delimiters.
                        </p>
                    </div>
                    <button id="done" disabled>
                        <p>Proceed</p>
                        <img src="{% static 'images/check1.svg' %}" alt="">
                    </button>
                </form>

                <form id="select_form" method="post" class="select">
                    <div class="no_contact">
                        <p>No addresses yet</p>
                        <img src="{% static 'images/empty2.svg' %}" alt="">
                    </div>
                    <div class="all">
                        <input type="checkbox" name="all" id="all">
                        <div class="check_mark"></div>
                        <label for="all">Select all</label>
                    </div>
                    {% if email_addresses %}
                        {% for email_address in email_addresses %}
                            <div class="contact">
                                <input type="checkbox" name="contact" id="{{ email_address.address }}" value="{{ email_address.address }}">
                                <div class="check_mark"></div>
                                <label for="{{ email_address.address }}">{{ email_address.address }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>

        <form action="" id="message_form" method="post" class="message_popup">
            {% csrf_token %}
            <label for="message">Compose mail</label>
            <div class="email_field">
                <label for="subject">Subject</label>
                <input type="text" id="subject" maxlength="160" autofocus>
            </div>
            <div class="email_field">
                <label for="cc">Cc</label>
                <input type="text" id="cc" pattern="^(?:[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,6}(, ?)?)+$">
            </div>
            <div class="email_field">
                <label for="bcc">Bcc</label>
                <input type="text" id="bcc" pattern="^(?:[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,6}(, ?)?)+$">
            </div>
            <div class="email_field attach">
                <label for="attached_file">
                    <span>Attach file</span>
                    <img src="{% static 'images/attach_file.svg' %}" alt="" style="width: 20px; height: 20px;">
                </label>
                <input type="file" name="file" id="attached_file" multiple>
            </div>
            <p class="help_text" style="display: none;"></p>
            <div class="email_field">
                <textarea id="message" placeholder="Compose mail" required minlength="10" maxlength="4500" title="Compose mail"></textarea>
                <img id="send_btn" src="{% static 'images/send2.svg' %}" alt="send">
            </div>
            <div class="email_field attach">
                <label for="attached_html_file">
                    <span>Attach HTML message instead</span>
                    <img src="{% static 'images/attached-file.svg' %}" alt="" style="width: 15px; height: 15px;">
                </label>
                <input type="file" name="file" id="attached_html_file" accept=".html" max="26214400">
                <a id="edit_html" style="display: none;">Edit HTML</a>
            </div>
        </form>

        <div class="confirm_send_popup">
            <img class="image" src="{% static 'images/mail-confirm.svg' %}" alt="confirm">
            <p>Just to be sure</p>
            <div class="btns">
                <div class="yes">
                    <img src="{% static 'images/tick.svg' %}" alt="">
                </div>
                <div class="no">
                    <img src="{% static 'images/cancel.svg' %}" alt="">
                </div>
            </div>
        </div>

        <div class="sending_popup">
            <img class="image" src="{% static 'images/sending.gif' %}" alt="confirm">
            <p>Sending Mail</p>
        </div>

        <div class="jump_page">
            <img src="{% static 'images/up-right-arrow.svg' %}" alt="">
        </div>

        {% if messages %}
            <!-- notifications -->
            <div class="notification_icon">
                <img src="{% static 'images/bell-ring.svg' %}" alt="">
                {% if messages %}
                    <span>{{ messages|length }}</span>
                {% endif %}
            </div>
            <div class="notifications">
                <img id="sub_icon" src="{% static 'images/bell.svg' %}" alt="" style="width: 30px; height: 30px;">
                {% for message in messages %}
                    {% if 'info' in message.tags %}
                        <div class="toast info">
                            <img src="{% static 'images/info2.svg' %}" alt="" style="width: 20px; height: 20px;">
                            <p>{{ message }}</p>
                        </div>
                    {% elif  'success' in message.tags %}
                        <div class="toast success">
                            <img src="{% static 'images/tick.svg' %}" alt="" style="width: 20px; height: 20px;">
                            <p>{{ message }}</p>
                        </div>
                    {% elif  'error' in message.tags %}
                        <div class="toast error">
                            <img src="{% static 'images/cancel.svg' %}" alt="" style="width: 20px; height: 20px;">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
    {% endblock content %}

{% block script %}
<script src="{% static 'messanger/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript">
    function returnFileSize(number) {
        if (number < 1024) {
          return `${number} bytes`;
        } else if (number >= 1024 && number < 1048576) {
          return `${(number / 1024).toFixed(1)} KB`;
        } else if (number >= 1048576) {
          return `${(number / 1048576).toFixed(1)} MB`;
        };
    };

    function fileSizeDoesNotExceed(file_size, max_file_size){
        if (file_size > max_file_size){
            return false;
        }
        return true;
    }

    document.onreadystatechange = () => {
        if (document.readyState != "complete"){
            document.querySelector('.anim_container').classList.add('show_loader');
            document.querySelector('body').classList.add('stop_scroll');
            document.querySelector('.lds-ellipsis').querySelectorAll('div').forEach(div => {
                div.classList.add('play');
            })
        }
        else{
            setTimeout(() => {
                document.querySelector('.anim_container').classList.remove('show_loader');
                document.querySelector('body').classList.remove('stop_scroll');
                document.querySelector('.lds-ellipsis').querySelectorAll('div').forEach(div => {
                    div.classList.remove('play');
                })
            }, 500);
            
        }
    };

    
    // shows and hides header and create button on scroll
    var oldScrollPosition = 0;
    window.onscroll = (e) => {

        var scrollPosition = document.documentElement.scrollTop;
        if (scrollPosition >= window.innerHeight * 0.2) {
            document.querySelector('header').classList.add('hide');
            document.querySelector('.create_btn_hover').classList.add('show_hover_btn');
            oldScrollPosition = scrollPosition       
        }
        else{
            document.querySelector('header').classList.remove('hide');
            document.querySelector('.create_btn_hover').classList.remove('show_hover_btn');
            oldScrollPosition = scrollPosition;
        };

        if (document.querySelector('.be_container').clientHeight > window.innerHeight){
            // shows and hides jump page button on scroll
            document.querySelector('.jump_page').classList.add('show_jump_page');
            if (scrollPosition > document.querySelector('.be_container').clientHeight * 0.2) {
                setTimeout(() => {
                    document.querySelector('.jump_page').classList.remove('show_jump_page');
                }, 3000);
                document.querySelector('.jump_page').classList.add('change_direction');
                document.querySelector('.jump_page').addEventListener('click', () => {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    });
                });
            }
            else{
                document.querySelector('.jump_page').classList.remove('change_direction');
                setTimeout(() => {
                    document.querySelector('.jump_page').classList.remove('show_jump_page');
                }, 3000);
                document.querySelector('.jump_page').addEventListener('click', () => {
                    window.scrollTo({
                        top: window.innerHeight,
                        behavior: 'smooth'
                    });
                });
            };
        };
    }


    window.onload = () => {

        if(window.location.href.endsWith('?send')){
            setTimeout(() => { 
                document.querySelector('.contact_popup').classList.add('contact_popup_open');
                document.querySelector('body').classList.toggle('stop_scroll');
                document.querySelectorAll('button').forEach(button => {
                    if(button.id != 'done'){
                        button.disabled = true;
                        button.style.pointerEvents = "none";
                    };
                });
            }, 200)
        }


        // opens notifications shade
        // opens notifications shade
        if (document.querySelector('.notifications')){
            document.querySelector('.notification_icon').querySelector('img').classList.add('blink_img');
            document.querySelector('.notification_icon').classList.add('blink_icon');
            document.querySelector('.notification_icon').addEventListener('click', () => {
                document.querySelector('.notification_icon').querySelector('img').classList.remove('blink_img');
                document.querySelector('.notification_icon').classList.remove('blink_icon');
                document.querySelector('.notifications').classList.toggle('open_shade');
            })
        }

        const messages = document.querySelectorAll('.message');
        var contacts = document.querySelectorAll('.contact');
        // var show_delay = 0.2;
        // const observer = new IntersectionObserver((entries) => {
        //     entries.forEach(entry => {
        //         if (entry.isIntersecting){
        //             entry.target.classList.add('show_messages');
        //         }
        //     })
        // });
        // messages.forEach((message) => {
        //     observer.observe(message);
        //     message.style.animationDelay = `${show_delay}s`;
        //     show_delay += 0.1;
        // });

        // setTimeout(() => {
        //     messages.forEach((message) => {
        //         message.style.animationDelay = '0.2s';
        //     });
        // }, 1000);

        if (messages.length != 0) {
            // messages[0].scrollIntoView();
            // shows and hides message content
        
            messages.forEach(message => {
                message.querySelector('.message_summary').addEventListener('click', (e) => {
                    if (!document.querySelector('.contact_popup').classList.contains('contact_popup_open') && !document.querySelector('.message_popup').classList.contains('show_message_popup') && !message.querySelector('input').contains(e.target)) {   
                        message.querySelector('.message_content').classList.toggle('message_content_open');
                        message.querySelector('.message_summary').classList.toggle('adjust_border');
                        message.querySelector('.message_content').querySelectorAll('p').forEach(p => {
                            p.classList.toggle('show');
                        })
                        message.querySelector('.message_content').querySelectorAll('div').forEach(div => {
                            div.classList.toggle('show_2');
                        })
                    }; 
                });

                if (message.querySelector('#minor').querySelector('a')){
                    message.querySelector('#minor').querySelector('a').addEventListener('click', () => {
                        message.querySelector('.recipients').classList.add('show_recipients');
                        document.querySelector('body').classList.add('stop_scroll');

                        message.querySelector('.recipients').querySelector('img').addEventListener('click', () => {
                            message.querySelector('.recipients').classList.remove('show_recipients');
                            document.querySelector('body').classList.remove('stop_scroll');
                        });   
                    });
                };
            });

            

            // shows and hides contact popup
            [document.querySelector('.create_btn'), document.querySelector('.create_btn_hover')].forEach(create_btn =>{
                create_btn.addEventListener('click', () => {
                    document.querySelector('.contact_popup').classList.add('contact_popup_open');
                    document.querySelector('body').classList.toggle('stop_scroll');
                    document.querySelectorAll('button').forEach(button => {
                        if(button.id != 'done'){
                            button.disabled = true;
                            button.style.pointerEvents = "none";
                        };
                    });
                });
            })
            document.querySelector('.contact_popup').querySelector('img').addEventListener('click', () => {
                document.querySelector('.contact_popup').classList.remove('contact_popup_open');
                document.querySelector('body').classList.toggle('stop_scroll');
                document.querySelectorAll('button').forEach(button => {
                    button.disabled = false;
                    button.style.pointerEvents = "auto";
                });
            });
        }
        else{
            // shows no messages
            document.querySelector('.no_messages').classList.add('show_no_messages');
        }
        
        // shows and hides contact popup
        [document.querySelector('.create_btn'), document.querySelector('.create_btn_hover')].forEach(create_btn =>{
            create_btn.addEventListener('click', () => {
                document.querySelector('.contact_popup').classList.add('contact_popup_open');
                document.querySelector('body').classList.add('stop_scroll');
                document.querySelectorAll('button').forEach(button => {
                    if(button.id != 'done'){
                        button.disabled = true;
                        button.style.pointerEvents = "none";
                    };
                });
            });
        })
        document.querySelector('.contact_popup').querySelector('img').addEventListener('click', () => {
            document.querySelector('.contact_popup').classList.remove('contact_popup_open');
            document.querySelector('body').classList.remove('stop_scroll');
            document.querySelectorAll('form').forEach(form => {
                form.reset();
                document.querySelector('.file_name').querySelector('p').innerText = 'No file selected';
            });
            document.querySelectorAll('button').forEach(button => {
                button.disabled = false;
                button.style.pointerEvents = "auto";
            });
        });

        if (contacts.length != 0) {
            // removes no contacts message
            document.querySelector('.no_contact').classList.remove('show_no_contact')
            // ticks select all input
            document.querySelector('.all').querySelector('.check_mark').addEventListener('click', () => {
                document.querySelector('.all').querySelector('input').checked = false;
            });
            //unticks select all input
            document.querySelector('.all').querySelector('input').addEventListener('click', () => {
                document.querySelector('.all').querySelector('input').checked = true;
            });
            // ticks and unticks all checkbox based on select all input value
            [document.querySelector('.all').querySelector('input'), document.querySelector('.all').querySelector('.check_mark')].forEach( item => {
                item.addEventListener('click', () => {
                    contacts.forEach(contact => {
                        contact.querySelector('input').checked = document.querySelector('.all').querySelector('input').checked;
                    })
                })
            });

            // unticks checkbox
            contacts.forEach(contact => {
                contact.querySelector('.check_mark').addEventListener('click', () => {
                    contact.querySelector('input').checked = false;
                    //unticks and ticks select all checkbox if all contacts are ticked or unticked
                    var unticked = [];
                    contacts.forEach(contact => {
                        unticked.push(contact.querySelector('input').checked)
                    });
                    if (unticked.some(e => e == false) == true) {
                        document.querySelector('.all').querySelector('input').checked = false;
                    }
                    else if(unticked.some(e => e == false) == false){
                        document.querySelector('.all').querySelector('input').checked = true;
                    }
                });
            })
            //ticks checkbox
            contacts.forEach(contact => {
                contact.querySelector('input').addEventListener('click', () => {
                    contact.querySelector('input').checked = true;
                    //unticks and ticks all's checkbox if all contacts are ticked or unticked
                    var unticked = [];
                    contacts.forEach(contact => {
                        unticked.push(contact.querySelector('input').checked)
                    });
                    if (unticked.some(e => e == false) == true) {
                        document.querySelector('.all').querySelector('input').checked = false;
                    }
                    else if(unticked.some(e => e == false) == false){
                        document.querySelector('.all').querySelector('input').checked = true;
                    };
                });
            });

            // events related to the contact popup
            document.querySelector('.popup_body').addEventListener('pointerover', () => {
                var addInputs = document.querySelector('.add_contact').querySelectorAll('input');
                var selectInputs = document.querySelector('.select').querySelectorAll('input');
                var proceedButton = document.querySelector('#done');
                var falseValues = [];
                var empty = true;
                // returns all false fields in the checkbox fields
                selectInputs.forEach(input => {
                    if(input.checked == false){
                        falseValues.push(input)
                    }
                });
                //set the value of var empty based on the text and file input fields 
                if (addInputs[0].value != ''){
                    empty = false
                }
                if (addInputs[1].files.length != 0){
                    empty = false
                }
                // enables and disables the proceed button based on the value of var empty and falseValues
                // checks if all check boxes are unchecked and all text and file fields are empty and disables or enables the proceed button
                if (falseValues.length == selectInputs.length){
                    if (empty == true){
                        proceedButton.disabled = true;
                        proceedButton.style.pointerEvents = 'none';
                    }
                    else{
                        if (document.querySelector('#address').checkValidity() != true){
                            document.querySelector('#address').style.borderColor = 'hsla(0, 61%, 70%, 0.8)';
                            proceedButton.disabled = true;
                            proceedButton.style.pointerEvents = 'none';
                        }
                        else{
                            document.querySelector('#address').style.borderColor = 'hsla(120, 61%, 70%, 0.8)';
                            proceedButton.disabled = false;
                            proceedButton.style.pointerEvents = 'auto';
                        };

                        if(document.querySelector('#address_file').files.length != 0){
                            var file_name = document.querySelector('#address_file').files[0].name;
                            var file_size_int = document.querySelector('#address_file').files[0].size;
                            var file_size = returnFileSize(file_size_int);
                            document.querySelector('.file_name').querySelector('p').innerText = file_name + ' (' + file_size + ')';
                            if (fileSizeDoesNotExceed(file_size_int, 1048576)){
                                proceedButton.disabled = false;
                                proceedButton.style.pointerEvents = 'auto';
                            }
                            else{
                                proceedButton.disabled = true;
                                proceedButton.style.pointerEvents = 'none';
                                document.querySelector('.file_name').style.backgroundColor = 'hsla(0, 61%, 70%, 0.8)';
                                document.querySelector('#address_file').addEventListener('click', ()=> {
                                    document.querySelector('.file_name').style.backgroundColor = '';
                                });
                            };
                        };
                    };
                    if (document.querySelector('#address').value == ''){
                        document.querySelector('#address').style.borderColor = '';
                    };

                }

                else{
                    proceedButton.disabled = false;
                    proceedButton.style.pointerEvents = 'auto';

                    if (empty == false){
                        if (document.querySelector('#address').checkValidity() != true){
                            document.querySelector('#address').style.borderColor = 'hsla(0, 61%, 70%, 0.8)';
                            proceedButton.disabled = true;
                            proceedButton.style.pointerEvents = 'none';
                        }
                        else{
                            document.querySelector('#address').style.borderColor = 'hsla(120, 61%, 70%, 0.8)';
                            proceedButton.disabled = false;
                            proceedButton.style.pointerEvents = 'auto';
                        };

                        if(document.querySelector('#address_file').files.length != 0){
                            var file_name = document.querySelector('#address_file').files[0].name;
                            var file_size_int = document.querySelector('#address_file').files[0].size;
                            var file_size = returnFileSize(file_size_int);
                            document.querySelector('.file_name').querySelector('p').innerText = file_name + ' (' + file_size + ')';
                            if (fileSizeDoesNotExceed(file_size_int, 1048576)){
                                proceedButton.disabled = false;
                                proceedButton.style.pointerEvents = 'auto';
                            }
                            else{
                                proceedButton.disabled=true;
                                proceedButton.style.pointerEvents='none';
                                document.querySelector('.file_name').style.backgroundColor = 'hsla(0, 61%, 70%, 0.8)';
                                document.querySelector('#address_file').addEventListener('click', ()=> {
                                    document.querySelector('.file_name').style.backgroundColor = '';
                                });
                            };
                        };
                    }
                        
                    if (document.querySelector('#address').value == ''){
                        document.querySelector('#address').style.borderColor = '';
                    };
                };
            });

        }
        else{
            // shows no contacts message
            document.querySelector('.all').style.display = 'none';
            document.querySelector('.no_contact').classList.add('show_no_contact')

            // events related to the contact popup
            document.querySelector('.popup_body').addEventListener('pointerover', () => {
                var addInputs = document.querySelector('.add_contact').querySelectorAll('input');
                var proceedButton = document.querySelector('#done');
                var empty = true;
                
                //set the value of var empty based on the text and file input fields 
                if (addInputs[0].value != ''){
                    empty = false
                }
                if (addInputs[1].files.length != 0){
                    empty = false
                }
                // checks text and file fields are empty and disables or enables the proceed button
                if (empty == true){
                    proceedButton.disabled = true;
                    proceedButton.style.pointerEvents = 'none';
                }
                else{
                    
                    if (document.querySelector('#address').checkValidity() != true){
                        document.querySelector('#address').style.borderColor = 'hsla(0, 61%, 70%, 0.8)';
                        proceedButton.disabled = true;
                        proceedButton.style.pointerEvents = 'none';
                    }
                    else{
                        document.querySelector('#address').style.borderColor = 'hsla(120, 61%, 70%, 0.8)';
                        proceedButton.disabled = false;
                        proceedButton.style.pointerEvents = 'auto';
                    };

                    if(document.querySelector('#address_file').files.length != 0){
                        var file_name = document.querySelector('#address_file').files[0].name;
                        var file_size_int = document.querySelector('#address_file').files[0].size;
                        var file_size = returnFileSize(file_size_int);
                        document.querySelector('.file_name').querySelector('p').innerText = file_name + ' (' + file_size + ')';
                        if (fileSizeDoesNotExceed(file_size_int, 1048576)){
                            proceedButton.disabled = false;
                            proceedButton.style.pointerEvents = 'auto';
                        }
                        else{
                            proceedButton.disabled = true;
                            proceedButton.style.pointerEvents = 'none';
                            document.querySelector('.file_name').style.backgroundColor = 'hsla(0, 61%, 70%, 0.8)';
                            document.querySelector('#address_file').addEventListener('click', ()=> {
                                document.querySelector('.file_name').style.backgroundColor = '';
                            });
                        };
                    };
                };

                if (document.querySelector('#address').value == ''){
                    document.querySelector('#address').style.borderColor = '';
                };
            });
        }

    };

    window.onclick = (event) => {
        var messages = document.querySelectorAll('.message');
        // close notification shade on outside click
        if(document.querySelector('.notifications') && !document.querySelector('.notification_icon').contains(event.target) && !document.querySelector('.notifications').contains(event.target) && document.querySelector('.notifications').classList.contains('open_shade')){
            document.querySelector('.notifications').classList.remove('open_shade')
        }

        document.querySelector('#done').addEventListener('click', (e) => {
            e.stopPropagation();
            e.preventDefault();
            document.querySelector('.contact_popup').classList.remove('contact_popup_open');
            document.querySelector('body').classList.remove('stop_scroll');
            setTimeout(() => {
                document.querySelector('.message_popup').classList.add('show_message_popup');
            }, 500);
            document.querySelectorAll('button').forEach(button => {
                button.disabled = true;
                button.style.pointerEvents = "none";
            });
        });

        if (!document.querySelector('.message_popup').contains(event.target) && document.querySelector('.message_popup').classList.contains('show_message_popup') 
            && !document.querySelector('.confirm_send_popup').contains(event.target) && !document.querySelector('.confirm_send_popup').classList.contains('show_confirm_send_popup')) {
            document.querySelector('.message_popup').classList.add('remove_message_popup');
            document.querySelector('.message_popup').classList.remove('show_message_popup');
            document.querySelectorAll('form').forEach(form => {
                form.reset();
                document.querySelector('.file_name').querySelector('p').innerText = 'No file selected';
            });
            document.querySelectorAll('button').forEach(button => {
                button.disabled = false;
                button.style.pointerEvents = "auto";
            });
        };

        document.querySelectorAll('.message').forEach(message => {
            if(message.querySelector('#minor').querySelector('a') && !message.querySelector('#minor').querySelector('a').contains(event.target) 
                && !message.querySelector('.recipients').contains(event.target) && message.querySelector('.recipients').classList.contains('show_recipients')){
                message.querySelector('.recipients').classList.remove('show_recipients');
                document.querySelector('body').classList.remove('stop_scroll');
            };
        });

        if (document.querySelector('.select_all')){
            // ticks select all message delete checkbox based on select all checkbox
            document.querySelector('.select_all').querySelector('input').addEventListener('change', () => {
                messages.forEach(message => {
                    message.querySelector('input').checked = document.querySelector('.select_all').querySelector('input').checked;
                });
            });

            // what to do on finalizing delete choice
            document.querySelector('.select_all').querySelector('p').addEventListener('click', (e) => {
                e.stopImmediatePropagation()
                payload = {
                    'object_type': 'email',
                    'object_list': [],
                };
                // gets the value of the checked inputs for delete
                messages.forEach(message => {
                    if(message.querySelector('input').checked){
                        payload['object_list'].push(message.querySelector('input').value)
                    }
                });
                data = new FormData();
                data.append('payload', JSON.stringify(payload));

                $.ajax({
                    url: '{% url "delete" %}',
                    method: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    data: data,
                    headers:{
                        'X-CSRFToken': getCookie("csrftoken"),
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    success: function (response){
                        if(response['message'] == "success" || "error"){
                            window.location.reload()
                        };
                    },
                });
            });

        };
        

        messages.forEach(message => {
            // related to deleting messages
            message.querySelector('#del_btn').addEventListener('click', () => {
                message.querySelector('input').checked = true;
                document.querySelector('.select_all').classList.add('show_2');
                messages.forEach(message =>{
                    message.querySelector('input').classList.add('show');
                });
            });

            // unticks and ticks select all  based on the number of checked boxes
            [message.querySelector('input'), document.querySelector('.select_all').querySelector('input')].forEach(input =>{
                input.addEventListener('change', () => {
                    //unticks and ticks select all checkbox if all contacts are ticked or unticked
                    var ticked = [];
                    messages.forEach(message => {
                        ticked.push(message.querySelector('input').checked)
                    });
                    if (ticked.some(e => e == false) == true) {
                        document.querySelector('.select_all').querySelector('input').checked = false;
                    }
                    else if(ticked.some(e => e == false) == false){
                        document.querySelector('.select_all').querySelector('input').checked = true;
                    }
                    if (ticked.every(e => e == false) == true){
                        message.querySelector('input').checked = true;
                        document.querySelector('.select_all').classList.remove('show_2');
                        messages.forEach(message =>{
                            message.querySelector('input').classList.remove('show');
                        });
                    }
                });
            });
        });

        
        document.querySelector('.message_popup').addEventListener('pointerover', () => {
            if (document.querySelector('#bcc').checkValidity() == false){
                document.querySelector('#message').disabled = true;
                document.querySelector('#bcc').style.borderColor = 'hsla(0, 61%, 70%, 0.8)';
            }
            else if (document.querySelector('#cc').checkValidity() == false){
                document.querySelector('#message').disabled = true;
                document.querySelector('#cc').style.borderColor = 'hsla(0, 61%, 70%, 0.8)';
            }
            else{
                document.querySelector('#message').disabled = false;
                document.querySelector('#bcc').style.borderColor = '';
                document.querySelector('#cc').style.borderColor = '';
            }

            if (document.querySelector('#attached_file').files.length > 0){
                document.querySelector('.attach').querySelector('label').querySelector('span').innerText = document.querySelector('#attached_file').files.length + ' file(s) chosen'
            }
            else{
                document.querySelector('.attach').querySelector('label').querySelector('span').innerText = 'Attach file'
            }

            if (document.querySelector('#attached_html_file').files.length > 0){
                document.querySelectorAll('.attach')[1].querySelector('label').querySelector('span').innerText = document.querySelector('#attached_html_file').files[0].name;
                document.querySelector('#edit_html').style.display = 'block';
            }
            else{
                document.querySelectorAll('.attach')[1].querySelector('label').querySelector('span').innerText = 'Attach HTML message instead';
                document.querySelector('#edit_html').style.display = 'none';
            }

            var attached_files = document.querySelector('#attached_file').files;
            var total_size = 0;
            for (var i = 0; i < attached_files.length; i++){
                total_size += attached_files[i].size;
            };
            if (fileSizeDoesNotExceed(total_size, 26214400)){
                document.querySelector('.attach').querySelector('label').querySelector('span').style.color = '';
                document.querySelector('#send_btn').style.pointerEvents = 'auto';
            }
            else{
                document.querySelector('.attach').querySelector('label').querySelector('span').style.color = 'hsla(0, 50%, 50%)';
                document.querySelector('#send_btn').style.pointerEvents = 'none';
            }
        });


        var message_field = document.querySelector('#message');

        function send(){
            // checks if the message is valid
            payload = new FormData();
            payload.append('message', message_field.value)
            $.ajax({
                url: '{% url "validate-message" %}',
                method: 'POST',
                cache: false,
                dataType: 'json',
                contentType: false,
                processData: false,
                data: payload,
                headers:{
                    'X-CSRFToken': getCookie("csrftoken"),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function (response){
                    if(response['message'] == "success"){
                        message_field.style.borderColor = '';
                        document.querySelector('.help_text').style.display = 'none';
                        document.querySelector('#message').title = 'Compose mail';
                        document.querySelector('.help_text').innerText = '';
                    }
                    else if(response['message'] == "error"){
                        document.querySelector('.help_text').style.display = 'block';
                        document.querySelector('#message').title = 'Mail should not contain the words above';
                        document.querySelector('.help_text').innerText = 'Blacklisted words found!: ' + response['bad_words'];
                        message_field.style.borderColor = 'hsla(0, 61%, 70%, 0.8)';
                    }
                },
            });
        };

        
        var sendAfter = 200;
        message_field.addEventListener('keyup', (e) => {
            e.stopImmediatePropagation()
            clearTimeout(timeout);
            var timeout = setTimeout(send, sendAfter);  
        });

        document.querySelector('#send_btn').addEventListener('click', (e) => {
            var message = document.querySelector('#message').value;
            if (message != '' &&  message.length >= 10 && message.length <= 4500 || document.querySelector('#attached_html_file').files.length > 0 ){
                if(document.querySelector('.help_text').innerHTML != ''){
                    document.querySelector('#message_form').querySelector('label').innerText = 'Remove blacklisted words';
                    document.querySelector('#message_form').querySelector('label').style.color = 'hsla(0, 61%, 70%, 0.8)';
                    setTimeout(() => {
                        document.querySelector('#message_form').querySelector('label').innerText = 'Compose mail';
                        document.querySelector('#message_form').querySelector('label').style.color = '';
                        document.querySelector('#message').title = 'Compose mail';
                    }, 3000);
                    document.querySelector('#message').title = 'Mail should not contain the words above';
                }else{
                    document.querySelector('.confirm_send_popup').classList.add('show_confirm_send_popup');
                    document.querySelector('body').classList.add('stop_scroll');
                };
            }
            else{
                document.querySelector('#message_form').querySelector('label').innerText = 'Mail must be between 10 and 4500 characters long';
                document.querySelector('#message_form').querySelector('label').style.color = 'hsla(0, 61%, 70%, 0.8)';
                setTimeout(() => {
                    document.querySelector('#message_form').querySelector('label').innerText = 'Compose mail';
                    document.querySelector('#message_form').querySelector('label').style.color = '';
                    document.querySelector('#message').title = 'Compose mail';
                }, 3000);
                document.querySelector('#message').title = 'Mail must be between 10 and 4500 characters long';
                document.querySelector('#message').style.borderColor = 'hsla(0, 61%, 70%, 0.8)';
                document.querySelector('#message').addEventListener('input', () => {
                    document.querySelector('#message').placeholder = 'Enter message';
                    document.querySelector('#message').style.borderColor = '#ccc';
                });
            };
            
        });

        document.querySelector('#edit_html').addEventListener('click', function(){
            var attached_html_file = document.querySelector('#attached_html_file').files[0];
            var formData = new FormData();
            var payload = {'action': 'edit_html'}
            formData.append('attached_html_file', attached_html_file);
            formData.append('payload', JSON.stringify(payload))

            $.ajax({
                url: '{% url "send" %}',
                method: 'POST',
                contentType: false,
                dataType: 'json',
                data: formData,
                processData: false,
                cache: false,
                headers: {
                    'X-CSRFToken': getCookie("csrftoken"),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(data){
                    if (data['success'] == 'true'){
                        message_field.value = data['html'];
                        message_field.title = 'Edit file content';
                    }
                }
            });

        });

        document.querySelector('.yes').addEventListener('click', (e) => {
            e.stopImmediatePropagation();
            document.querySelector('.confirm_send_popup').classList.remove('show_confirm_send_popup');
            document.querySelector('.message_popup').classList.add('remove_message_popup');
            document.querySelector('.message_popup').classList.remove('show_message_popup');
            setTimeout(() => {
                document.querySelector('.sending_popup').classList.add('show_sending_popup');
            }, 150);
            
            var addFormData = {
                'email_addresses': document.querySelector('#address').value,
            };
            var selected_addresses = [];
            document.querySelectorAll('.contact').forEach(contact => {
                if (contact.querySelector('input').checked == true){
                    selected_addresses.push(contact.querySelector('input').value);
                };
            });
            var selectFormData = {
                'all_addresses': document.querySelector('#all').checked,
                'selected_addresses': selected_addresses,
            };
            var messageFormData = {
                'subject': document.querySelector('#subject').value,
                'cc': document.querySelector('#cc').value,
                'bcc': document.querySelector('#bcc').value,
                'body': document.querySelector('#message').value,
            };
            var payload = {
                'addFormData': addFormData,
                'selectFormData': selectFormData,
                'messageFormData': messageFormData,
                'action': 'send_email',
            };

            var file = document.querySelector('#address_file').files[0];
            var attached_files = document.querySelector('#attached_file').files;
            var attached_html_file = document.querySelector('#attached_html_file').files[0];
            var formData = new FormData();
            formData.append('file', file);
            formData.append('attached_html_file', attached_html_file);
            for(var i = 0; i < attached_files.length; i++){
                formData.append('attached_file-'+i, attached_files[i]);
            };
            formData.append('payload', JSON.stringify(payload))
            
            $.ajax({
                url: '{% url "send" %}',
                method: 'POST',
                contentType: false,
                dataType: 'json',
                data: formData,
                processData: false,
                cache: false,
                headers: {
                    'X-CSRFToken': getCookie("csrftoken"),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(data){
                    if (data['success'] == 'true' || 'false'){
                        document.querySelector('.sending_popup').classList.add('remove_sending_popup');
                        document.querySelector('.sending_popup').classList.remove('show_sending_popup');
                        document.querySelector('body').classList.remove('stop_scroll');
                        document.querySelectorAll('button').forEach(button => {
                            button.disabled = false;
                            button.style.pointerEvents = "auto";
                        });
                        setTimeout(() => {
                            window.location.reload()
                        }, 200);
                        
                    }
                }
            });

        });

        document.querySelector('.no').addEventListener('click', (e) => {
            document.querySelector('.confirm_send_popup').classList.remove('show_confirm_send_popup');
            document.querySelector('body').classList.remove('stop_scroll');
        });

        const accept_btn = document.getElementById('accept');
        const decline_btn = document.getElementById('decline');
        if(document.querySelector('.cookie_msg') && !document.querySelector('.cookie_msg').contains(event.target) && !document.querySelector('.cookie_msg').classList.contains('close_cookie')){
            document.querySelector('.cookie_msg').classList.add('close_cookie');
        }
        if (accept_btn && accept_btn.contains(event.target)){
            $.ajax({
                url: "{% url 'use-cookie' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'choice': 'accept',
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(response){
                    document.querySelector('.cookie_msg').classList.add('close_cookie');
                }
            });
        }
        else if (decline_btn && decline_btn.contains(event.target)){
            $.ajax({
                url: "{% url 'use-cookie' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'choice': 'decline',
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(response){
                    document.querySelector('.cookie_msg').classList.add('close_cookie');
                }
            });
        };

    };
 
</script>
{% endblock script %}
</html>