{% extends 'messanger/base.html' %}

{% load static %}
{% block title %}
    <title>Postman</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'messanger/home.css' %}">
{% endblock styles %}


{% block content %}
    <div class="showcase">
        <div class="showcase_img">
            <img src="{% static 'images/home2.svg' %}" alt="">
        </div>
        <div class="showcase_text">
            <h1>Welcome</h1>
            <h3>SMS and emails made easy</h3>
            <p>Postman is a simple and easy to use messaging app. It is a great way to connect with the world.</p>
            <div class="option">
                <a href="{% url 'messages' %}?send">Send SMS</a>
                <img src="{% static 'images/email_send.svg' %}" alt="">
            </div>
            <div class="option">
                <a href="{% url 'emails' %}?send">Send Mail</a>
                <img src="{% static 'images/mail1.svg' %}" alt="">
            </div>
        </div>
        
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    window.onclick = (event) => {
        const accept_btn = document.getElementById('accept');
        const decline_btn = document.getElementById('decline');
        if(document.querySelector('.cookie_msg') && !document.querySelector('.cookie_msg').contains(event.target) && !document.querySelector('.cookie_msg').classList.contains('close_cookie')){
            document.querySelector('.cookie_msg').classList.add('close_cookie');
        }
        if (accept_btn && accept_btn.contains(event.target)){
            $.ajax({
                url: "{% url 'use-cookie' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'choice': 'accept',
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(response){
                    document.querySelector('.cookie_msg').classList.add('close_cookie');
                }
            });
        }
        else if (decline_btn && decline_btn.contains(event.target)){
            $.ajax({
                url: "{% url 'use-cookie' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'choice': 'decline',
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(response){
                    document.querySelector('.cookie_msg').classList.add('close_cookie');
                }
            });
        };
    };
</script>
{% endblock script %}

        
 