{% extends 'messanger/base.html' %}
{% load static %}

{% block title %}
    <title>Postman | Settings</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'messanger/settings.css' %}">
{% endblock styles %}

    {% block content %}
        <div class="be_container">
            <div class="settings_head">
                <div>
                    <h1>User Settings</h1>
                    <img src="{% static 'images/settings1.svg' %}" alt="" style="width: clamp(20px, 5vw, 30px);
                    height: clamp(20px, 5vw, 30px);">
                </div>
                {% if not user.is_privileged %}
                <button id="topup_btn">
                    <p>Top up</p>
                    <img src="{% static 'images/balance.svg' %}" alt="">
                </button>
                {% endif %}
            </div>
            <div class="border_btm"></div>

            {% if not user.is_privileged %}
                <!-- PURCHASE POPUP -->
                <div class="purchase_popup">
                    <h2 class="heading">Credit Purchase</h2>
                    <div class="list">
                    {% for package in packages %}
                        <div class="list_item">
                            <div class="details">
                                <p class="credit">{{ package.amount }} credits</p>
                                <p>${{ package.price }}</p>
                            </div>
                            <div class="count">
                                <button class="plus">+</button>
                                <p>0</p>
                                <button class="minus">-</button>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="summary">
                        <h5>Credit units: <span id="total_amount">0</span></h5>
                        <h5>Price: <span id="total_price">$0.00</span></h5>
                        <a id="purchase_btn" style="pointer-events: none;">Purchase</a>
                    </div>
                </div>
            {% endif %}


            <div class="user_details">
                <div>
                    <h2>{{ user.username }}</h2>
                    {% if user.is_privileged %}
                        <small class="elite">Credits: Unlimited</small>
                    {% elif user.message_credit > 500 %}
                        <small class="okay">Credits: {{user.message_credit}}</small>
                    {% elif user.message_credit < 200 %}
                        <small class="verylow">Credits: {{user.message_credit}}</small>
                    {% elif user.message_credit < 500 %}
                        <small class="low">Credits: {{user.message_credit}}</small>
                    {% endif %}
                </div>
                <div>
                    <p>{{ user.user_idno }}</p>
                    {% if user.can_send %}
                        <small class="active">active</small>
                    {% else %}
                        <small class="inactive">inactive</small>
                    {% endif %}
                </div>
            </div>
            <div class="border_sec"></div>

            <!-- USER HISTORY -->
            <div class="setting">
                <h3>Keep user history</h3>
                <div class="toggle_container">
                    <label for="wants_history">wants_history</label>
                    {% if user.wants_history %}
                    <input type="checkbox" id="wants_history" checked>
                    {% else %}
                    <input type="checkbox" id="wants_history">
                    {% endif %}
                    <div class="toggle">
                        <div class="toggler"></div>
                    </div>
                </div>
            </div>
            <div class="border_sec"></div>


            <!-- EMAIL PROFILES -->
            <div class="profiles" id="email_profiles">
                <div class="profile_head">
                    {% if user.email_profiles.all|length_is:'0' %}
                        <h3>Emailing Profiles</h3>
                    {% else %}
                        <h3>Emailing Profiles <small style="color: hsla(120, 60%, 61%, 0.8);">({{ user.email_profiles.all|length }})</small></h3>
                    {% endif %}
                    <img id="email_add_btn" src="{% static 'images/add.svg' %}" alt="" style="width: clamp(20px, 5vw, 30px);
                    height: clamp(20px, 5vw, 30px);">
                </div>
                {% for email_profile in user.email_profiles.all %}
                    <div class="profile">
                        <div>
                            <p class="profile_name">{{ email_profile.email }}</p>
                            <p class="profile_pass">{{ email_profile.get_trunc_app_pass }}</p>
                            <small class="profile_type">{{ email_profile.type|title }}</small>
                            <a href="{% url 'delete-profile' object_type='ep' pk=email_profile.id %}">delete</a>
                        </div>

                        <div class="toggle_container">
                            <label for="{{ email_profile.email }}">{{ email_profile.email }}</label>
                            {% if email_profile.is_active %}
                            <input type="checkbox" name="{{ email_profile.email }}" id="{{ email_profile.email }}" checked>
                            {% else %}
                            <input type="checkbox" name="{{ email_profile.email }}" id="{{ email_profile.email }}">
                            {% endif %}
                            <div class="toggle">
                                <div class="toggler"></div>
                            </div>
                        </div>
        
                    </div>
                {% endfor %}
                <div class="border_sec"></div>
            </div>

            <!-- ADD EMAIL PROFILE FORM -->
            <form action="{% url 'settings' %}" id="email_add_form" class="add_form" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label for="email">Email address</label>
                    <input type="email" name="email" id="email" placeholder="tersoelama@...com" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,6}$">
                </div>
                <div class="field">
                    <label for="password">App password</label>
                    <input type="password" name="app_pass" id="password" required>
                </div>
                <small>Want to use a custom server address or port?</small>
                <div class="field" id="server_div" style="display:none;">
                    <label for="custom_server">Custom host address</label>
                    <input type="text" name="custom_host" id="custom_server" title="Enter your preferred host address or leave empty" placeholder="e.g, smtp.live.com">
                </div>
                <div class="field" id="port_div" style="display:none;">
                    <label for="custom_port">Custom port</label>
                    <input type="text" name="custom_port" id="custom_port" title="Enter your preferred port or leave empty" placeholder="e.g, 587" pattern="\d">
                </div>
                <button type="submit">Add</button>
            </form>
            
            <!-- MESSAGING PROFILES -->
            <div class="profiles" id="msg_profiles">
                <div class="profile_head">
                    {% if user.message_profiles.all|length_is:'0' %}
                        <h3>Messaging Profiles</h3>
                    {% else %}
                        <h3>Messaging Profiles <small style="color: hsla(120, 60%, 61%, 0.8);">({{ user.message_profiles.all|length }})</small></h3>
                    {% endif %}
                    <img id="msg_add_btn" src="{% static 'images/add.svg' %}" alt="" style="width: clamp(20px, 5vw, 30px);
                    height: clamp(20px, 5vw, 30px);">
                </div>
                {% for message_profile in user.message_profiles.all %}
                    <div class="profile">
                        <div>
                            <p class="profile_name">{{ message_profile.number }}</p>
                            <p class="profile_pass">{{ message_profile.get_trunc_api_key }}</p>
                            <small class="profile_type">{{ message_profile.api_provider|title }}</small>
                            <a href="{% url 'delete-profile' object_type='mp' pk=message_profile.id %}">delete</a>
                        </div>

                        <div class="toggle_container">
                            <label for="{{ message_profile.number }}">{{ message_profile.number }}</label>
                            {% if message_profile.is_active %}
                                <input type="checkbox" name="{{ message_profile.number }}" id="{{ message_profile.number }}" checked>
                            {% else %}
                                <input type="checkbox" name="{{ message_profile.number }}" id="{{ message_profile.number }}">
                            {% endif %}
                            <div class="toggle">
                                <div class="toggler"></div>
                            </div>
                        </div>
        
                    </div>
                {% endfor %}
                <div class="border_sec"></div>
            </div>

            <!-- ADD MESSAGE PROFILE FORM -->
            <form action="{% url 'settings' %}" id="msg_add_form" class="add_form" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label for="provider">Provider</label>
                    <select id="provider" required autofocus name="provider" form="msg_add_form">
                        <option value="telnyx">Telnyx</option>
                        <option value="twilio">Twilio</option>
                    </select>
                </div>
                <div class="field">
                    <label for="number">Number or Sender ID</label>
                    <input type="text" name="number" id='number' placeholder="+01...." required pattern="^\+(?:[0-9] ?){10,14}[0-9]$" title="Phone number should conform with the e164 number plan">
                </div>
                <div class="field">
                    <label for="api_key">API key</label>
                    <input type="password" name="api_key" id="api_key" required>
                </div>
                <div class="field" id="sid_div" style="display:none;">
                    <label for="account_sid">Account SID</label>
                    <input type="text" name="account_sid" id="account_sid">
                </div>
                <button type="submit">Add</button>
            </form>

            
            <!-- EMAIL SEND RATE -->
            <div class="setting">
                <h3>Email send rate per minute</h3>
                <input type="number" class="send_rate" maxlength="4" id="email_send_rate" title="Mails will send at chosen rate per minute. You can send at up to 5000 mails/min" 
                max="10000" min="5" value="{{ user.preferred_mail_rate }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" pattern="[\d*]{1,4}">
            </div>
            <div class="border_sec"></div>

            <!-- SMS SEND RATE -->
            <div class="setting">
                <h3>SMS send rate per minute</h3>
                <input type="number" class="send_rate" maxlength="4" id="sms_send_rate" title="SMS will send at chosen rate per minute. You can send at up to 3600 sms/min"
                 max="3600" min="1" value="{{ user.preferred_sms_rate }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" pattern="[\d*]{1,4}">
            </div>
            <div class="border_sec"></div>

            <!-- USE DEFAULT -->
            {% if user.can_use_default %}
                <div class="setting">
                    <h3>Use default senders</h3>
                    <div class="toggle_container">
                        <label for="wants_default">wants_default</label>
                        {% if user.wants_default %}
                            <input type="checkbox" id="wants_default" checked>
                        {% else %}
                            <input type="checkbox" id="wants_default">
                        {% endif %}
                        <div class="toggle">
                            <div class="toggler"></div>
                        </div>
                    </div>
                </div>
                <div class="border_sec"></div>
            {% endif %}

            <!-- RANDOMIZATION -->
            <div class="setting">
                <h3>Enhanced randomization</h3>
                <div class="toggle_container">
                    <label for="wants_random">wants_random</label>
                    {% if user.wants_random %}
                        <input type="checkbox" id="wants_random" checked>
                    {% else %}
                        <input type="checkbox" id="wants_random">
                    {% endif %}
                    <div class="toggle">
                        <div class="toggler"></div>
                    </div>
                </div>
            </div>
            <div class="border_sec"></div>

            <!-- ENABLE COOKIES -->
            <div class="setting">
                <h3>Use cookies</h3>
                <div class="toggle_container">
                    <label for="accepted_cookies">accepted_cookies</label>
                    {% if user.accepted_cookies %}
                        <input type="checkbox" id="accepted_cookies" checked>
                    {% else %}
                        <input type="checkbox" id="accepted_cookies">
                    {% endif %}
                    <div class="toggle">
                        <div class="toggler"></div>
                    </div>
                </div>
            </div>
            <div class="border_sec"></div>

            <!-- PURCHASE HISTORY -->
            <div class="del_all">
                {% if user.purchases.all|length_is:'0' %}
                    <a href="" style="opacity: 0.7; pointer-events: none; color: #555;">View purchase history</a>
                {% else %}
                    <a href="{% url 'purchase-history' user.id %}" style="color: #555;">View purchase history</a>
                {% endif %}
            </div>

            {% if user.is_admin %}
                <!-- ADD DEFAULT  -->
                <div class="del_all">
                    <a href="{% url 'add-default-items' %}" style="color: #555;">Add default prices and blacklisted words</a>
                </div>
            {% endif %}

            <!-- DELETE ALL CONTACTS -->
            <div class="del_all">
                {% if user.added_phone_numbers.all|length_is:'0' and user.added_email_addresses.all|length_is:'0' %}
                    <a href="" style="opacity: 0.7; pointer-events: none;">Clear email and contact list</a>
                {% else %}
                    <a href="{% url 'delete-contacts' %}">Clear email and contact list</a>
                {% endif %}
            </div>
            
            <!-- DELETE USER ACCOUNT -->
            <div class="del_all">
                <a id="user_del">Delete my account</a>
            </div>

            <div class="confirm_del_popup">
                <img class="image" src="{% static 'images/caution3.svg' %}" alt="confirm">
                <p>Are you sure you want to proceed?</p>
                <div class="btns">
                    <div class="yes">
                        <a href="{% url 'delete-user' %}"><img src="{% static 'images/tick.svg' %}" alt=""></a>
                    </div>
                    <div class="no">
                        <img src="{% static 'images/cancel.svg' %}" alt="{{ user.id }}">
                    </div>
                </div>
            </div>

        </div>

        {% if messages %}
            <!-- notifications -->
            <div class="notification_icon">
                <img src="{% static 'images/bell-ring.svg' %}" alt="">
                {% if messages %}
                    <span>{{ messages|length }}</span>
                {% endif %}
            </div>
            <div class="notifications">
                <img id="sub_icon" src="{% static 'images/bell.svg' %}" alt="" style="width: 30px; height: 30px;">
                {% for message in messages %}
                    {% if 'info' in message.tags %}
                        <div class="toast info">
                            <img src="{% static 'images/info2.svg' %}" alt="" style="width: 20px; height: 20px;">
                            <p>{{ message }}</p>
                        </div>
                    {% elif  'success' in message.tags %}
                        <div class="toast success">
                            <img src="{% static 'images/tick.svg' %}" alt="" style="width: 20px; height: 20px;">
                            <p>{{ message }}</p>
                        </div>
                    {% elif  'error' in message.tags %}
                        <div class="toast error">
                            <img src="{% static 'images/cancel.svg' %}" alt="" style="width: 20px; height: 20px;">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock content %}
    
{% block script %}
<script src="{% static 'messanger/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript">
    window.onclick = function(event) {

        // close notification shade on outside click
        if(document.querySelector('.notifications') && !document.querySelector('.notification_icon').contains(event.target) && !document.querySelector('.notifications').contains(event.target) && document.querySelector('.notifications').classList.contains('open_shade')){
            document.querySelector('.notifications').classList.remove('open_shade')
        }

        document.querySelectorAll('.toggle_container').forEach((toggle) => {
            if (toggle.contains(event.target)) {
                toggle.querySelector('input').checked = !toggle.querySelector('input').checked;
            };
        });

        if(document.querySelector('#email_add_form').classList.contains('show2')  && !document.querySelector('#email_add_form').contains(event.target) && !document.querySelector('#email_add_btn').contains(event.target)){
            document.querySelector('#email_add_form').classList.remove('show2');
            document.querySelector('#email_add_form').reset();
            document.body.classList.remove('stop_scroll');
            document.querySelectorAll('.toggle_container').forEach((toggle) => {
                toggle.style.pointerEvents = 'auto';
            });
            setTimeout(() => {
                document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                    link.style.pointerEvents = 'auto';
                });
            }, 500);
            var custom_server_link = document.querySelector('#email_add_form').querySelector('small');
            document.querySelector('#server_div').style.display = 'none';
            document.querySelector('#port_div').style.display = 'none';
            custom_server_link.style.display = '';
        };

        if(document.querySelector('#msg_add_form').classList.contains('show2')  && !document.querySelector('#msg_add_form').contains(event.target) && !document.querySelector('#msg_add_btn').contains(event.target)){
            document.querySelector('#msg_add_form').classList.remove('show2');
            document.querySelector('#email_add_form').reset();
            document.body.classList.remove('stop_scroll');
            document.querySelectorAll('.toggle_container').forEach((toggle) => {
                toggle.style.pointerEvents = 'auto';
            });
            setTimeout(() => {
                document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                    link.style.pointerEvents = 'auto';
                });
            }, 500);
        };

        var select = document.querySelector('#provider');
        select.addEventListener('change', function(){
            var value = select.value;
            if (select.value == 'twilio'){
                document.querySelector('#sid_div').style.display = "block";
                document.querySelector('label[for=api_key]').innerText = 'Auth token';
                document.querySelector('#account_sid').required = true;
            };
        
            if (select.value == 'telnyx'){
                document.querySelector('#sid_div').style.display = "none";
                document.querySelector('label[for=api_key]').innerText = 'Api key';
                document.querySelector('#account_sid').required = false;
            };
        });

        var custom_server_link = document.querySelector('#email_add_form').querySelector('small');
        if (custom_server_link.contains(event.target)){
            document.querySelector('#server_div').style.display = '';
            document.querySelector('#port_div').style.display = '';
            custom_server_link.style.display = 'none';
        };

        var user_del = document.querySelector('#user_del');
        var confirm_del_popup = document.querySelector('.confirm_del_popup');
        if (user_del.contains(event.target) && !confirm_del_popup.classList.contains('show_confirm_del_popup')){
            document.querySelector('.confirm_del_popup').classList.add('show_confirm_del_popup');
            document.body.classList.add('stop_scroll');
            document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                if(link.parentElement.className != 'yes'){
                    link.style.pointerEvents = 'none';
                };  
            });
        }
        else if( (!confirm_del_popup.contains(event.target) && confirm_del_popup.classList.contains('show_confirm_del_popup')) || confirm_del_popup.querySelector('.no').contains(event.target)){
            document.querySelector('.confirm_del_popup').classList.remove('show_confirm_del_popup');
            document.body.classList.remove('stop_scroll');
            setTimeout(() => {
                document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                    link.style.pointerEvents = 'auto';
                });
            }, 500);
        };
        
        const accept_btn = document.getElementById('accept');
        const decline_btn = document.getElementById('decline');
        if(document.querySelector('.cookie_msg') && !document.querySelector('.cookie_msg').contains(event.target) && !document.querySelector('.cookie_msg').classList.contains('close_cookie')){
            document.querySelector('.cookie_msg').classList.add('close_cookie');
        }
        if ( accept_btn && accept_btn.contains(event.target)){
            $.ajax({
                url: "{% url 'use-cookie' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'choice': 'accept',
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(response){
                    document.querySelector('.cookie_msg').classList.add('close_cookie');
                }
            });
        }
        else if (decline_btn && decline_btn.contains(event.target)){
            $.ajax({
                url: "{% url 'use-cookie' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'choice': 'decline',
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(response){
                    document.querySelector('.cookie_msg').classList.add('close_cookie');
                }
            });
        };


        var counts = document.querySelectorAll('.count')
        var list_items = document.querySelectorAll('.list_item');
        var purchase_btn = document.querySelector('#purchase_btn');
        var topup_btn = document.querySelector('#topup_btn');
        var purchase_popup = document.querySelector('.purchase_popup');

        if(topup_btn && purchase_popup && topup_btn.contains(event.target) && !purchase_popup.classList.contains('show2')){
            purchase_popup.classList.add('show2');
            var delay = 0.1;
            list_items.forEach(list_item => {
                list_item.style.animationDelay = delay + 's';
                delay += 0.1;
            });
            document.body.classList.add('stop_scroll');
            document.querySelectorAll('.toggle_container').forEach((toggle) => {
                toggle.style.pointerEvents = 'none';
            });
            document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                if (link.id != 'purchase_btn'){
                    link.style.pointerEvents = 'none';
                };
            });
        }else if (topup_btn && purchase_popup && purchase_popup.classList.contains('show2') && !purchase_popup.contains(event.target)){
            purchase_popup.classList.remove('show2');
            document.body.classList.remove('stop_scroll');
            document.querySelectorAll('.toggle_container').forEach((toggle) => {
                toggle.style.pointerEvents = 'auto';
            });
            setTimeout(() => {
                document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                    link.style.pointerEvents = 'auto';
                });
            }, 500);
            
            counts.forEach((count)=>{
                count.querySelector('p').innerText = 0;
            });

            purchase_popup.querySelector('.summary').querySelector('#total_price').innerText = '$0.00';
            purchase_popup.querySelector('.summary').querySelector('#total_amount').innerText = 0;
        };

        if (list_items && purchase_btn && counts){
            counts.forEach((count)=>{
                var buttons = count.querySelectorAll('button');
                buttons.forEach((button)=>{
                    button.addEventListener('click', (e) => {
                        e.stopImmediatePropagation();
                        var count_value = parseInt(count.querySelector('p').innerText);
                        if (e.target.classList.contains('plus') && count_value >= 0){
                            count_value++;
                        }
                        else if (e.target.classList.contains('minus') && count_value > 0){
                            count_value--;
                        }
                        count.querySelector('p').innerText = count_value;

                        var payload = {};
                        var form_data = {};
                        var total_amount = 0;
                        list_items.forEach((item)=>{
                            var key = item.querySelector('.credit').innerText;
                            var val = item.querySelector('.count').querySelector('p').innerText
                            payload[key.replace(' credits', '')]= val;
                            total_amount += parseInt(key.replace(' credits', '')) * parseInt(val)

                        });
                        
                        if (total_amount <= 0){
                            purchase_btn.style.pointerEvents = 'none';
                        }else{
                            purchase_btn.style.pointerEvents = 'auto';
                        }
                        var action = 'process_data';
                        form_data['payload'] = JSON.stringify(payload);
                        form_data['action'] = action;
                        $.ajax({
                                url: '{% url "purchase" %}',
                                method: 'POST',
                                data: form_data,
                                dataType: 'json',
                                cache: false,
                                headers: {
                                    'X-CSRFToken': getCookie('csrftoken'),
                                    'X-Requested-With': 'XMLHttpRequest',
                                },
                                success: function(response){
                                    if (response['status'] == 'success' && response['price']){
                                        document.querySelector('.purchase_popup').querySelector('.summary').querySelector('#total_price').innerText = '$'+response['price'];
                                        document.querySelector('.purchase_popup').querySelector('.summary').querySelector('#total_amount').innerText = response['amount'];
                                    }else if (response['status'] == 'error'){
                                        window.location.reload()
                                    }else if (response['status'] == 'success'){
                                        window.location.reload()
                                    }
                                }
                        }); 
                    });
                });
                
            });

            purchase_btn.addEventListener('click', (e) => {
                e.stopImmediatePropagation()
                purchase_btn.style.pointerEvents = 'none';
                var payload = {};
                var form_data = {};

                list_items.forEach((item)=>{
                    var key = item.querySelector('.credit').innerText;
                    var val = item.querySelector('.count').querySelector('p').innerText
                    payload[key.replace(' credits', '')]= val;
                });
                
                var action = 'purchase';
                form_data['payload'] = JSON.stringify(payload);
                form_data['action'] = action;
                $.ajax({
                    url: '{% url "purchase" %}',
                    method: 'POST',
                    data: form_data,
                    dataType: 'json',
                    cache: false,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    success: function(response){
                        if (response['status'] == 'success'){
                            charge_id = response['charge_id']
                            window.location = '{% url "confirm-purchase" %}?charge_id='+charge_id;
                        }
                        else if (response['status'] == 'error'){
                            window.location.reload();
                        };

                    }
                }); 
            });
        };   

    };


    window.onload = () => {

        // opens notifications shade
        if (document.querySelector('.notifications')){
            document.querySelector('.notification_icon').querySelector('img').classList.add('blink_img');
            document.querySelector('.notification_icon').classList.add('blink_icon');
            document.querySelector('.notification_icon').addEventListener('click', () => {
                document.querySelector('.notification_icon').querySelector('img').classList.remove('blink_img');
                document.querySelector('.notification_icon').classList.remove('blink_icon');
                document.querySelector('.notifications').classList.toggle('open_shade');
            })
        };

        document.querySelectorAll('.send_rate').forEach((input) => {
            input.addEventListener('keyup', (e) =>{

                setTimeout(() => {
                    emailing_profiles = {};
                    messaging_profiles = {};
                    var wants_history = document.querySelector('#wants_history').checked;
                    var wants_random = document.querySelector('#wants_random').checked;
                    var wants_default = document.querySelector('#wants_default').checked;
                    var accepted_cookies = document.querySelector('#accepted_cookies').checked;
                    var email_send_rate = document.querySelector('#email_send_rate').value;
                    var sms_send_rate = document.querySelector('#sms_send_rate').value;

                    if(document.querySelector('#email_profiles').querySelector('input')){
                        document.querySelector('#email_profiles').querySelectorAll('input').forEach(profile => {
                            emailing_profiles[profile.id] = profile.checked;
                        })
                    };
                    if(document.querySelector('#msg_profiles').querySelector('input')){
                        document.querySelector('#msg_profiles').querySelectorAll('input').forEach(profile => {
                            messaging_profiles[profile.id] = profile.checked;
                        })
                    };
                    payload = new FormData;
                    payload.append('emailing_profiles', JSON.stringify(emailing_profiles));
                    payload.append('messaging_profiles', JSON.stringify(messaging_profiles));
                    payload.append('wants_random', wants_random);
                    payload.append('wants_history', wants_history);
                    payload.append('wants_default', wants_default);
                    payload.append('accepted_cookies', accepted_cookies);
                    payload.append('email_send_rate', email_send_rate);
                    payload.append('sms_send_rate', sms_send_rate);

                    $.ajax({
                        url: '{% url "settings" %}',
                        method: 'POST',
                        contentType: false,
                        dataType: 'json',
                        cache: false,
                        processData: false,
                        data: payload,
                        headers:{
                            'X-CSRFToken': getCookie("csrftoken"),
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                        success: function(data){},
                        error: function(data){},
                    });
            
                }, 200);
                
            });
        });


        document.querySelectorAll('.toggle_container').forEach((toggle) => {
            toggle.addEventListener('click', (e) =>{

                setTimeout(() => {
                    emailing_profiles = {};
                    messaging_profiles = {};
                    var wants_history = document.querySelector('#wants_history').checked;
                    var wants_random = document.querySelector('#wants_random').checked;
                    var wants_default = document.querySelector('#wants_default').checked;
                    var accepted_cookies = document.querySelector('#accepted_cookies').checked;
                    var email_send_rate = document.querySelector('#email_send_rate').value;
                    var sms_send_rate = document.querySelector('#sms_send_rate').value;

                    if(document.querySelector('#email_profiles').querySelector('input')){
                        document.querySelector('#email_profiles').querySelectorAll('input').forEach(profile => {
                            emailing_profiles[profile.id] = profile.checked;
                        })
                    };
                    if(document.querySelector('#msg_profiles').querySelector('input')){
                        document.querySelector('#msg_profiles').querySelectorAll('input').forEach(profile => {
                            messaging_profiles[profile.id] = profile.checked;
                        })
                    };
                    payload = new FormData;
                    payload.append('emailing_profiles', JSON.stringify(emailing_profiles));
                    payload.append('messaging_profiles', JSON.stringify(messaging_profiles));
                    payload.append('wants_random', wants_random);
                    payload.append('wants_history', wants_history);
                    payload.append('wants_default', wants_default);
                    payload.append('accepted_cookies', accepted_cookies);
                    payload.append('email_send_rate', email_send_rate);
                    payload.append('sms_send_rate', sms_send_rate);

                    $.ajax({
                        url: '{% url "settings" %}',
                        method: 'POST',
                        contentType: false,
                        dataType: 'json',
                        cache: false,
                        processData: false,
                        data: payload,
                        headers:{
                            'X-CSRFToken': getCookie("csrftoken"),
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                        success: function(data){},
                        error: function(data){},
                    });
            
                }, 200);
                
            });
        });

        document.querySelector('#email_add_btn').addEventListener('click', () => {
            document.querySelector('#email_add_form').classList.add('show2');
            document.body.classList.add('stop_scroll');
            document.querySelectorAll('.toggle_container').forEach((toggle) => {
                toggle.style.pointerEvents = 'none'
            });
            document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                link.style.pointerEvents = 'none'
            });
        });

        document.querySelector('#msg_add_btn').addEventListener('click', () => {
            document.querySelector('#msg_add_form').classList.add('show2');
            document.body.classList.add('stop_scroll');
            document.querySelectorAll('.toggle_container').forEach((toggle) => {
                toggle.style.pointerEvents = 'none'
            });
            document.querySelector('.be_container').querySelectorAll('a').forEach((link) => {
                link.style.pointerEvents = 'none'
            });
        });


    };
</script>
{% endblock script %}